@font-face {
  font-family: montserrat;
  src: url(../resources/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: libreReg;
  src: url(../resources/LibreCaslonText-Regular.ttf);
}

@font-face {
  font-family: libreBold;
  src: url(../resources/LibreCaslonText-Bold.ttf);
}

* {
  font-family: 'montserrat', sans-serif;  
  font-size: 16px;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #f2e4cf !important;
}

.books {
  margin-top: 70px;
  padding: 30px;
  background-color: #f8f3ed;
  border-radius: 30px;
}

.card-title {
  font-family: libreBold;
}

.card-body {
  background-color: #F6F6F6;
}

.plus {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 10rem;
  font-weight: 100;
  color: #DCDCDC;
}

.new-item {
  background-color: #F6F6F6;
}

.new-item:hover {
  cursor: pointer;  
  box-shadow: 2px 2px 5px #DAD6CA;  
  transition: 0.2s ease-In-Out;
}

.new-item:hover * {  
  color: #808080;  
  transition: 0.2s ease-In-Out;
}

.exit img {
  scale: 1.5;
  filter:invert(54%) sepia(0%) saturate(85%) hue-rotate(188deg) brightness(93%) contrast(101%);
}

.exit img:hover {
  cursor: pointer;  
  scale: 1.7;
  transform: rotate(90deg);
  filter: invert(15%) sepia(96%) saturate(7466%) hue-rotate(360deg) brightness(114%) contrast(108%);
  transition: 0.1s ease-In-Out;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

footer {
  color: black;
  background-color: #CEAF8C;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
}

/* Modal */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.my-modal {
  width: 350px;
  max-width: 75%;
  background-color: #f8f3ed;
  border-radius: 10px;
  padding: 30px 30px;
  transform: scale(0);
}

.my-modal.show {
  transform: scale(1);  
}

#read_it {
  transform: scale(1.2);
}
